@tailwind base;
@tailwind components;
@tailwind utilities;

a {
   color: inherit;
   text-decoration: none;
   font: inherit;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--element-group: 173 186 191;
}

/* Styles */
.container {
	width: 100%;
	max-width: 85rem;
	margin: 0 auto;
	padding: 4rem 1rem;
}

.diatomic-nonmetal {
	--element-group: 158 186 124;
}
.polyatomic-nonmetal {
	--element-group: 178 192 94;
}
.noble-gas {
	--element-group: 102 170 197;
}
.alkali-metal {
	--element-group: 199 76 76;
}
.alkaline-earth-metal {
	--element-group: 195 158 84;
}
.metalloid {
	--element-group: 230 125 97;
}
.transition-metal {
	--element-group: 198 136 121;
}
.post-transition-metal {
	--element-group: 67 199 199;
}
.lanthanide {
	--element-group: 230 106 144;
}
.actinide {
	--element-group: 163 150 224;
}

.active {
	background-color: rgba(255, 255, 255, 0.2);
}
